<!-- Homepage (index.html) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Libio | Library Management System</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Library Management</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="text-center py-5">
      <div class="container">
        <h1>Welcome to Libio, the ultimate Library Management System</h1>
        <p class="lead">
          Your one-stop solution for managing library books and resources
          efficiently.
        </p>
        <a href="/login" class="btn btn-dark px-4 py-2">Get Started</a>
      </div>
    </header>
    <section id="about" class="about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam deserunt pariatur incidunt corrupti assumenda, 
      numquam soluta unde quos voluptate, iusto quia facilis 
      sapiente necessitatibus deleniti, dolore aperiam repellendus? 
      Id, soluta! Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Magni libero ducimus, molestias officiis quis, veniam atque
      cupiditate, adipisci saepe delectus reprehenderit natus ratione!
      Assumenda ut magni odio rerum explicabo placeat. Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. Ea accusantium error dolore
      eius? Ad adipisci laboriosam eum odio magni perspiciatis dolorem 
      illo hic. Quas sequi voluptate labore, nulla facere quia! Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Id, eaque quae nulla 
      explicabo dignissimos numquam! In praesentium ducimus commodi accusantium
       corporis voluptas maxime, tempore quaerat sed! Quis sunt nostrum est.
    </section>
    <footer>
      
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" title="Back to Top"><i class="bi bi-arrow-up-short"></i></a>
  </body>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>
